body{
    font-family: Arial, sans-serif;
    /*margin: 28px;*/
    margin: 0;
    padding: 0;
    background-image: url('../img/Nubes1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}

.Login-box{
    width: 420px;
    height: auto;
    background: linear-gradient(to right, rgba(13, 13, 15, 0.8), rgba(2, 2, 5, 0.8));
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 40px;
    border-radius: 20px;
}

.Login-box .Logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.Login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
    font-family: cursive;
}

.Login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.Login-box input[type="text"] {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.Login-box input[type="password"]{
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.des{

    color: #ece3e3; 
    text-align: center; 
    margin-top: -10px; 
    margin-bottom: 20px;
    font-family: cursive;
}

.btn-acd{
    display: block; 
    margin: 20px auto; 
    padding: 10px 20px; 
    background-color: #2ea4f3; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 14px; 
    cursor: pointer; 
    text-align: center; 
}

.btn-acd:hover{
    background-color: #789eb8;
}